<div class="container">
    <div class="logo">
        <a class="hidn_txt" href="/">MyPortfolio</a>
    </div>
    <nav class="nav nav_pc">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#career">Career</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <nav class="nav nav_mo">
        <button class="hamburger_btn">
            <span></span>
        </button>
        <div class="mo_menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#career">Career</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>